<%= simple_form_for(@appointment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.association :time_slot, collection: time_slots_options(f.object.book_date), prompt: "Select time slot", required: true %>
    <%= f.input :book_date %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
