<!DOCTYPE html>
<html>
  <head>
    <title>SlotBooking</title>
    <meta http-equiv="Expires" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      /* Second CSS File */
      var giftofspeed2 = document.createElement('link');
      giftofspeed2.rel = 'stylesheet';
      giftofspeed2.href = "<%= asset_path('application.css')%>";
      giftofspeed2.type = 'text/css';
      var godefer2 = document.getElementsByTagName('link')[0];
      godefer2.parentNode.insertBefore(giftofspeed2, godefer2);
    </script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'async': "" %>
  </head>
  <body>
    <noscript>
      <link rel="stylesheet" type="text/css" href="<%= asset_path('application.css')%>" />
    </noscript>

  	<div class="container">
      <%= render 'shared/header' %>
      <%= render 'shared/messages' %>
  		<%= yield %>
      <div class="row"><hr></div>
      <%= render 'shared/footer' %>
  	</div>


  </body>
</html>
