<!DOCTYPE html>
<html>
  <head>
    <title>SlotBooking</title>
    <meta http-equiv="Expires" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'async': "" %>
  </head>
  <body>
  	<div class="container">
      <%= render 'shared/header' %>
      <%= render 'shared/messages' %>
  		<%= yield %>
      <div class="row"><hr></div>
      <%= render 'shared/footer' %>
  	</div>


  </body>
</html>
