<!DOCTYPE html>
<html>
  <head>
    <title>SlotBooking</title>
    <meta http-equiv="Expires" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'async': "" %>
  </head>
  <body>
  	<div class="container">
      <%= render 'shared/header' %>
      <%= render 'shared/messages' %>
  		<%= yield %>
      <div class="row"><hr></div>
      <%= render 'shared/footer' %>
  	</div>


    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="<%= asset_path('application.css')%>"/>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>


  </body>
</html>
